    {% extends 'navbar.html' %}
    {% load static %}
    {% block content %}

    <html lang="en">
      <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>ArtfulMakersCo</title>
        <meta content="" name="description" />
        <meta content="" name="keywords" />
        <link href="{% static 'assets/img/apple-touch-icon.png' %}"   rel="apple-touch-icon" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet"
        />
      </head>

      <body>
    <div>
        <section id="hero" class="hero">
          <div class="info d-flex align-items-center" style="margin-top: 100px !important;">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                  <h2 data-aos="fade-down">
                    Welcome to <span>ArtfulMakersCo</span>
                  </h2>
                  <p data-aos="fade-up">
                    Discover unique handcrafted items that inspire. <br>Our artisans create beautiful pieces with passion and dedication. <br>Explore the world of craftsmanship at ArtfulCraftsCo.
                     Find the perfect piece to complement your style. We take pride in delivering exceptional quality and craftsmanship in every product.

                  </p>
                  <a
                    data-aos="fade-up"
                    data-aos-delay="200"
                   href="{% url 'shop' %}"
                    class="btn-get-started" >Shop</a>
                </div>
              </div>
            </div>
          </div>

          <div
            id="hero-carousel"
            class="carousel slide"
            data-bs-ride="carousel"
            data-bs-interval="5000"
          >
            <div
              class="carousel-item active"
              style="
                background-image: url({% static 'assets/img/hero-carousel/hero-carousel-1.jpg' %});
              "
            ></div>
            <div
              class="carousel-item"
              style="
                background-image: url({% static 'assets/img/hero-carousel/hero-carousel-2.jpeg' %});
              "
            ></div>
            <div
              class="carousel-item"
              style="
                background-image: url({% static 'assets/img/hero-carousel/hero-carousel-3.jpg' %});
              "
            ></div>



            <a
              class="carousel-control-prev"
              href="#hero-carousel"
              role="button"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon fas fa-chevron-left"
                aria-hidden="true"
              ></span>
            </a>

            <a
              class="carousel-control-next"
              href="#hero-carousel"
              role="button"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon fas fa-chevron-right"
                aria-hidden="true"
              > </span>
            </a>
          </div>
        </section>

        <main id="main">


          <section id="alt-services" class="alt-services">
            <div class="container" data-aos="fade-up">
              <div class="row justify-content-around gy-4">
                <div
                  class="col-lg-6 img-bg"
                  style="background-image: url({% static 'assets/img/dc.jpg' %}"
                  data-aos="zoom-in"
                  data-aos-delay="100"
                ></div>

                <div class="col-lg-5 d-flex flex-column justify-content-center">
                  <h3>Discover ArtfulCraftsCo Services</h3>
                  <p>
                   Explore our diverse range of services that cater to your unique needs and preferences. Immerse yourself in the world of creativity and craftsmanship.

                  </p>

                  <div
                    class="icon-box d-flex position-relative"
                    data-aos="fade-up"
                    data-aos-delay="100"
                  >

                    <div>
                      <h4 class="stretched-link">Handcrafted Art</h4>
                      <p>
                       Explore handcrafted artworks, each telling a unique story and crafted with precision.
                      </p>
                    </div>
                  </div>

                  <div
                    class="icon-box d-flex position-relative"
                    data-aos="fade-up"
                    data-aos-delay="200"
                  >

                    <div>
                      <h4 class="stretched-link">Custom Orders</h4>
                      <p>
                       Personalize your experience with custom orders tailored to your specific requirements.
                            </p>
                    </div>
                  </div>

                  <div
                    class="icon-box d-flex position-relative"
                    data-aos="fade-up"
                    data-aos-delay="300"
                  >

                    <div>
                      <h4 class="stretched-link">Artful Decor</h4>
                      <p>
                                                    Elevate your space with our curated selection of artful decor pieces.

                      </p>
                    </div>
                  </div>

                  <div
                    class="icon-box d-flex position-relative"
                    data-aos="fade-up"
                    data-aos-delay="400"
                  >

                    <div>
                      <h4 class="stretched-link">Creative Workshops</h4>
                      <p>

                                Join our creative workshops and unleash your artistic potential.

                      </p>
                    </div>
                  </div>
                   </div>
              </div>
            </div>
          </section>
             <section id="get-started" class="get-started section-bg">
            <div class="container">
              <div class="row justify-content-between gy-4">
                <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
                  <div class="content">
                    <h3>Contact Us</h3>
                    <p>
                         Need to get in touch with us? Please fill out the form with your inquiry.<br> We are here to help you.
                    </p>

                  </div>
                </div>

                <div class="col-lg-5" data-aos="fade">
                  <form id="contactForm" method="POST" class="php-email-form" action="{% url 'contact_us' %}">
                          <h3>Get in touch</h3>
                      <br>
                          {% csrf_token %}

                        <div class="row gy-3">


            <input class="form-control" placeholder="Name" type="text" id="name" name="name" required><br><br>


            <input class="form-control" placeholder="Email" type="email" id="email" name="email" required><br><br>


            <textarea class="form-control"  placeholder="Message" id="message" name="message" required></textarea><br><br>

            <button type="button" style="color: white;
            background-color: #454679 !important;
            width: 100%;
            height: 60px;
            border-radius: 20px;
    border: none" onclick="submitForm()">Submit</button>

                            <div class="col-md-12 text-center">
                                <div class="loading"></div>
                                    <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>


                            </div>
                        </div>
                    </form>
                </div>

              </div>
            </div>
          </section>

        </main>

        <a
          href="#"
          class="scroll-top d-flex align-items-center justify-content-center"
          ><i class="fas fa-chevron-up "></i
        ></a>


     </div>

      </body>
       <!-- Vendor JS Files -->

        <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
        <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>

       <script>
            function submitForm() {
                var form = document.getElementById('contactForm');
                var formData = new FormData(form);

                fetch('/contact-us/', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert(data.message);
                        form.reset();
                    } else {
                        alert('Failed to send message. Please try again.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Message sent successfully');
                });
            }
        </script>


    {% endblock %}


